.heading {
    margin-left: 5%;
    margin-top: 5%;
  }

  #flex-parent{
    align-items: center;
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
  }

#num{
  width: 45px;
  margin-left: 10px;
}
